:root {
  .dsa-nav-dropdown {
    --dsa-nav-dropdown__label--font-weight: var(--ks-font-weight-regular);
    --dsa-nav-dropdown__label--color: var(--ks-text-color-primary);
    --dsa-nav-dropdown__label--color_hover: var(--ks-text-color-primary);

    box-shadow: 0 4px 12px var(--ks-color-fg-alpha-7);
  }
}
