:root {
  .dsa-nav-dropdown {
    --dsa-nav-dropdown--padding: var(--ks-spacing-inset-s);
    --dsa-nav-dropdown--background: var(--ks-background-color-default);
    --dsa-nav-dropdown--box-shadow: 2px 4px 10px var(--ks-color-fg-alpha-8);
    --dsa-nav-dropdown--min-width: 18em;

    --dsa-nav-dropdown__label--color: var(--ks-text-color-interface-interactive);
    --dsa-nav-dropdown__label--color_hover: var(--ks-text-color-primary);
    --dsa-nav-dropdown__label--color_active: var(--ks-text-color-primary);
    --dsa-nav-dropdown__label--font-weight: var(--ks-font-weight-medium);
    --dsa-nav-dropdown__label_dimmed--opacity: 1;
  }
}
