@import "nav-main-tokens.scss";

.dsa-nav-main {
  .dsa-nav-toggle {
    display: block;
    @media (min-width: "94rem") {
      display: none;
    }
  }
  .dsa-nav-flyout {
    display: flex;
    @media (min-width: "94rem") {
      display: none;
    }
  }

  .dsa-nav-topbar {
    @media (max-width: "94rem") {
      display: none;
    }
  }
}
