@import "nav-main-tokens.scss";

:root {
  .dsa-nav-main {
    .dsa-nav-toggle {
      display: block;

      @media (min-width: "90em") {
        display: none;
      }
    }
    .dsa-nav-flyout {
      display: flex;

      @media (min-width: "90em") {
        display: none;
      }
    }

    .dsa-nav-topbar {
      @media (max-width: "90em") {
        display: none;
      }
    }
  }
}
