@import "nav-main-tokens.scss";

.dsa-nav-main {
  @media (min-width: 62em) {
    --nav-spacing-horizontal: var(--ks-spacing-inline-s);

    .dsa-nav-main__item--active {
      .dsa-nav-main__link {
        box-sizing: content-box;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: var(--nav-spacing-horizontal);
          width: calc(100% - calc(var(--nav-spacing-horizontal) * 2));
          height: 4px;
          background-color: var(--ks-color-secondary);
          pointer-events: none;
        }
      }
    }
  }

  .nav-main__link {
    text-transform: uppercase;
  }
}
