@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: url("./token/fonts/Metropolis-Thin.woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: url("./token/fonts/Metropolis-Thin.woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: url("./token/fonts/Metropolis-Regular.woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: url("./token/fonts/Metropolis-Regular.woff2");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: url("./token/fonts/Metropolis-Bold.woff");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: url("./token/fonts/Metropolis-Bold.woff2");
}
