:root,
[ks-inverted],
[ks-theme] {
  // Logo
  --dsa-logo--height: 1.75rem;

  // Link
  --dsa-topic--font-weight: var(--ks-font-weight-medium);

  // Link
  --dsa-link--text-decoration: underline;
  --dsa-link--text-decoration_hover: none;
}
