.dsa-teaser-card {
  --dsa-teaser-card--shadow: none;
  --dsa-teaser-card--border-color_hover: var(--ks-border-color-card-interactive);
  --dsa--teaser-card--padding: -var(--ks-spacing-inset-stretch-s);
}
