.dsa-headline {
  --dsa-headline--font-weight: var(--ks-font-weight-light);
  --dsa-headline--higlight-background: var(--ks-text-color-primary);
  --dsa-headline__subheadline--font-weight: var(--ks-font-weight-bold);
}
