@import "./headline-tokens.scss";
:root {
  .dsa-headline {
    &--align-center {
      &:after {
        margin: auto;
      }
    }

    .dsa-headline__subheadline {
      margin-top: var(--headline-spacing);
    }

    &--h1 {
      --headline-spacing: calc(var(--ks-font-size-display-xxl) * 0.5);
    }

    &--h2 {
      --headline-spacing: calc(var(--ks-font-size-display-xl) * 0.5);
    }

    &--h1,
    &--h2 {
      .dsa-headline__headline {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:after {
          content: "";
          background-color: var(--ks-color-secondary);
          height: 6px;
          width: 10%;
          min-width: 3rem;
          max-width: 4rem;
          margin-top: var(--headline-spacing);
        }
      }

      &.dsa-headline--align-left {
        .dsa-headline__headline {
          align-items: flex-start;
        }
      }

      &.dsa-headline--align-right {
        .dsa-headline__headline {
          align-items: flex-end;
        }
      }
    }
  }
}
