:root {
  .dsa-button {
    --dsa-button--border-radius: var(--ks-border-radius-control);
    --dsa-button--text-transform: default;
    --dsa-button--font-weight: var(--ks-font-weight-semi-bold);
    --dsa-button--border-width: var(--ks-border-width-emphasized);
    --dsa-button--padding: 0.5em 1em;

    &:has(.icon) {
      --dsa-button--padding: 0.5em 0.75em 0.5em 1em;
    }

    --dsa-button_primary--color: var(--ks-color-fg-inverted);
    --dsa-button_primary--color_hover: var(--ks-color-fg-inverted);
    --dsa-button_primary--color_active: var(--ks-color-fg-inverted);

    --dsa-button_primary--background-color: var(--ks-color-primary);
    --dsa-button_primary--background-color_hover: var(--ks-color-primary-interactive-hover);
    --dsa-button_primary--background-color_active: var(--ks-color-primary-interactive-active);

    --dsa-button_primary--border-color: transparent;
    --dsa-button_primary--border-color_hover: transparent;
    --dsa-button_primary--border-color_active: transparent;

    --dsa-button_secondary--color: var(--ks-color-primary);
    --dsa-button_secondary--color_hover: var(--ks-color-primary);
    --dsa-button_secondary--color_active: var(--ks-color-primary);

    --dsa-button_secondary--background-color: transparent;
    --dsa-button_secondary--background-color_hover: var(--ks-color-primary-alpha-8);
    --dsa-button_secondary--background-color_active: var(--ks-color-primary-alpha-7);

    --dsa-button_secondary--border-color: var(--ks-border-color-primary-interactive);
    --dsa-button_secondary--border-color_hover: var(--ks-border-color-primary-interactive-hover);
    --dsa-button_secondary--border-color_active: var(--ks-border-color-primary-interactive-active);
  }
}
