@import "./button-tokens.scss";

.dsa-button {
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.25);

  &.c-button--solid {
    border: 0;
    --dsa-button--padding: calc(0.5em + var(--dsa-button--border-width)) calc(1em + var(--dsa-button--border-width));
  }
}
