@use "./form-tokens.scss";

.zammad-form {
  label {
    font: var(--ks-font-interface-s);
  }
  input,
  textarea {
    border: var(--ks-border-width-default) solid var(--ks-border-color-interface-interactive);
    padding: var(--ks-spacing-inset-xs);
    border-radius: var(--ks-border-radius-control);

    &:active,
    &:focus {
      border-color: var(--ks-border-color-interface-interactive-active);
      outline: 0;
    }

    &::placeholder {
      font: var(--ks-font-interface-s);
    }
  }

  button {
    padding: 0.75em 1.15em;
    border-radius: var(--ks-border-radius-pill);
    font: var(--ks-font-interface-m);
    font-weight: var(--ks-font-weight-semi-bold);
    color: var(--ks-color-fg-inverted);
    background-color: var(--ks-background-color-primary-interactive);

    &:hover {
      background-color: var(--ks-background-color-primary-interactive-hover);
    }

    &:active {
      background-color: var(--ks-background-color-primary-interactive-active);
    }
  }
}
