:root {
  --ks-border-width-default: 1px;
  --ks-border-width-emphasized: 2px;

  --ks-border-radius-control: 6px;
  --ks-border-radius-card: 14px;
  --ks-border-radius-surface: 14px;
  --ks-border-radius-pill: 999px;
  --ks-border-radius-circle: 50%;

  --dsa-border-radius-image: 4px;
}
