:root {
  --ks-border-width-default: 1px;
  --ks-border-width-emphasized: 2px;

  --ks-border-radius-control: 6px;
  --ks-border-radius-card: 0px;
  --ks-border-radius-surface: 0px;
  --ks-border-radius-pill: 999px;
  --ks-border-radius-circle: 50%;
}
