// Branding
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --spacing-base: 16px;

  --spacing-shrink-factor: 0.6;
  --spacing-grow-factor: 1.3;
  --spacing-bp-factor: 1.03;

  // Calculated BP Factor
  --spacing-xxs-bp-factor: calc(1 * var(--spacing-bp-factor));
  --spacing-xs-bp-factor: calc(var(--spacing-xxs-bp-factor) * var(--spacing-bp-factor));
  --spacing-s-bp-factor: calc(var(--spacing-xs-bp-factor) * var(--spacing-bp-factor));
  --spacing-m-bp-factor: calc(var(--spacing-s-bp-factor) * var(--spacing-bp-factor));
  --spacing-l-bp-factor: calc(var(--spacing-m-bp-factor) * var(--spacing-bp-factor));
  --spacing-xl-bp-factor: calc(var(--spacing-l-bp-factor) * var(--spacing-bp-factor));
  --spacing-xxl-bp-factor: calc(var(--spacing-xl-bp-factor) * var(--spacing-bp-factor));
}

// Base Token
// Calculated Growth/Shrink of the spacing
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-xxs-base: calc(var(--ks-spacing-xs-base) * calc(var(--spacing-shrink-factor) * 1));
  --ks-spacing-xs-base: calc(var(--ks-spacing-s-base) * calc(var(--spacing-shrink-factor) * 1));
  --ks-spacing-s-base: calc(var(--ks-spacing-m-base) * calc(var(--spacing-shrink-factor) * 1));
  --ks-spacing-m-base: var(--spacing-base);
  --ks-spacing-l-base: calc(var(--ks-spacing-m-base) * var(--spacing-grow-factor));
  --ks-spacing-xl-base: calc(var(--ks-spacing-l-base) * var(--spacing-grow-factor));
  --ks-spacing-xxl-base: calc(var(--ks-spacing-xl-base) * var(--spacing-grow-factor));
}

// BP-Factor Calculation
// (Small Spacing: Lower Breakpoint Scaling / Large Spacing: Larger Breakpoint Scaling)
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-xxs-bp-factor-phone: calc(1 * var(--spacing-xxs-bp-factor));
  --ks-spacing-xxs-bp-factor-tablet: calc(var(--ks-spacing-xxs-bp-factor-phone) * var(--spacing-xxs-bp-factor));
  --ks-spacing-xxs-bp-factor-laptop: calc(var(--ks-spacing-xxs-bp-factor-tablet) * var(--spacing-xxs-bp-factor));
  --ks-spacing-xxs-bp-factor-desktop: calc(var(--ks-spacing-xxs-bp-factor-laptop) * var(--spacing-xxs-bp-factor));

  --ks-spacing-xs-bp-factor-phone: calc(1 * var(--spacing-xs-bp-factor));
  --ks-spacing-xs-bp-factor-tablet: calc(var(--ks-spacing-xs-bp-factor-phone) * var(--spacing-xs-bp-factor));
  --ks-spacing-xs-bp-factor-laptop: calc(var(--ks-spacing-xs-bp-factor-tablet) * var(--spacing-xs-bp-factor));
  --ks-spacing-xs-bp-factor-desktop: calc(var(--ks-spacing-xs-bp-factor-laptop) * var(--spacing-xs-bp-factor));

  --ks-spacing-s-bp-factor-phone: calc(1 * var(--spacing-s-bp-factor));
  --ks-spacing-s-bp-factor-tablet: calc(var(--ks-spacing-s-bp-factor-phone) * var(--spacing-s-bp-factor));
  --ks-spacing-s-bp-factor-laptop: calc(var(--ks-spacing-s-bp-factor-tablet) * var(--spacing-s-bp-factor));
  --ks-spacing-s-bp-factor-desktop: calc(var(--ks-spacing-s-bp-factor-laptop) * var(--spacing-s-bp-factor));

  --ks-spacing-m-bp-factor-phone: calc(1 * var(--spacing-m-bp-factor));
  --ks-spacing-m-bp-factor-tablet: calc(var(--ks-spacing-m-bp-factor-phone) * var(--spacing-m-bp-factor));
  --ks-spacing-m-bp-factor-laptop: calc(var(--ks-spacing-m-bp-factor-tablet) * var(--spacing-m-bp-factor));
  --ks-spacing-m-bp-factor-desktop: calc(var(--ks-spacing-m-bp-factor-laptop) * var(--spacing-m-bp-factor));

  --ks-spacing-l-bp-factor-phone: calc(1 * var(--spacing-l-bp-factor));
  --ks-spacing-l-bp-factor-tablet: calc(var(--ks-spacing-l-bp-factor-phone) * var(--spacing-l-bp-factor));
  --ks-spacing-l-bp-factor-laptop: calc(var(--ks-spacing-l-bp-factor-tablet) * var(--spacing-l-bp-factor));
  --ks-spacing-l-bp-factor-desktop: calc(var(--ks-spacing-l-bp-factor-laptop) * var(--spacing-l-bp-factor));

  --ks-spacing-xl-bp-factor-phone: calc(1 * var(--spacing-xl-bp-factor));
  --ks-spacing-xl-bp-factor-tablet: calc(var(--ks-spacing-xl-bp-factor-phone) * var(--spacing-xl-bp-factor));
  --ks-spacing-xl-bp-factor-laptop: calc(var(--ks-spacing-xl-bp-factor-tablet) * var(--spacing-xl-bp-factor));
  --ks-spacing-xl-bp-factor-desktop: calc(var(--ks-spacing-xl-bp-factor-laptop) * var(--spacing-xl-bp-factor));

  --ks-spacing-xxl-bp-factor-phone: calc(1 * var(--spacing-xxl-bp-factor));
  --ks-spacing-xxl-bp-factor-tablet: calc(var(--ks-spacing-xxl-bp-factor-phone) * var(--spacing-xxl-bp-factor));
  --ks-spacing-xxl-bp-factor-laptop: calc(var(--ks-spacing-xxl-bp-factor-tablet) * var(--spacing-xxl-bp-factor));
  --ks-spacing-xxl-bp-factor-desktop: calc(var(--ks-spacing-xxl-bp-factor-laptop) * var(--spacing-xxl-bp-factor));
}

// Spacings get BP-factor applied
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-xxs: calc(var(--ks-spacing-xxs-base) * var(--ks-spacing-xxs-bp-factor, 1));
  --ks-spacing-xs: calc(var(--ks-spacing-xs-base) * var(--ks-spacing-xs-bp-factor, 1));
  --ks-spacing-s: calc(var(--ks-spacing-s-base) * var(--ks-spacing-s-bp-factor, 1));
  --ks-spacing-m: calc(var(--ks-spacing-m-base) * var(--ks-spacing-m-bp-factor, 1));
  --ks-spacing-l: calc(var(--ks-spacing-l-base) * var(--ks-spacing-l-bp-factor, 1));
  --ks-spacing-xl: calc(var(--ks-spacing-xl-base) * var(--ks-spacing-xl-bp-factor, 1));
  --ks-spacing-xxl: calc(var(--ks-spacing-xxl-base) * var(--ks-spacing-xxl-bp-factor, 1));
  --ks-spacing-stack: calc(var(--ks-spacing-stack-base) * var(--ks-spacing-stack-bp-factor, 1));
  --ks-spacing-inline: calc(var(--ks-spacing-inline-base) * var(--ks-spacing-inline-bp-factor, 1));
  --ks-spacing-inset: calc(var(--ks-spacing-inset-base) * var(--ks-spacing-inset-bp-factor, 1));
  --ks-spacing-inset-squish: calc(var(--ks-spacing-inset-squish-base) * var(--ks-spacing-inset-squish-bp-factor, 1));
  --ks-spacing-inset-stretch: calc(var(--ks-spacing-inset-stretch-base) * var(--ks-spacing-inset-stretch-bp-factor, 1));
}

// BP-factor gets redefined on each breakpoints
@media (min-width: 36em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-font-size-display-bp-factor: var(--ks-font-size-display-bp-factor-phone);
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-phone);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-phone);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-phone);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-phone);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-phone);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-phone);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-phone);
  }
}

@media (min-width: 48em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-tablet);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-tablet);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-tablet);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-tablet);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-tablet);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-tablet);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-tablet);
  }
}

@media (min-width: 62em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-laptop);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-laptop);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-laptop);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-laptop);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-laptop);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-laptop);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-laptop);
  }
}

@media (min-width: 75em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-desktop);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-desktop);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-desktop);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-desktop);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-desktop);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-desktop);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-desktop);
  }
}
