@use "./table-tokens.scss";

table {
  width: 100%;
  font: var(--drh-table--font);
  border-spacing: 0px;
  border-top: var(--ks-border-width-default) solid var(--ks-border-color-accent);
  border-bottom: var(--ks-border-width-default) solid var(--ks-border-color-accent);

  td,
  th {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  th {
    background-color: var(--ks-color-primary-alpha-8);
  }

  tr:nth-child(even) {
    background-color: var(--ks-color-primary-alpha-9);
  }
}
