@use "./slider-tokens.scss";

.c-slider {
  --c-slider_arrow--size: 4rem;
  --c-slider_arrow--horizontal-offset: 1em;

  .c-slider__arrow {
    border-radius: var(--dsa-slider__arrow--border-radius);
  }
}
