.dsa-slider {
  --dsa-slider__arrow--border-radius: var(--ks-border-radius-pill);
  --dsa-slider__arrow--background-color: var(--ks-color-fg-alpha-4);
  --dsa-slider__arrow--background-color: var(--ks-color-fg-alpha-4);
  --dsa-slider__arrow--background-color_hover: var(--ks-color-fg-alpha-4);
  --dsa-slider__arrow--background-color_active: var(--ks-color-fg-alpha-4);
  --dsa-slider__arrow--color: var(--ks-color-bg);
}
