:root,
[ks-inverted],
[ks-theme] {
  --dsa-text-color-on-primary: var(--ks-color-fg-inverted);
  --dsa-text-color-on-primary-inverted: var(--ks-color-fg);

  --dsa-topic--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-topic--color: var(--ks-text-color-primary);

  --dsa-link--font-weight: var(--ks-font-weight-medium);

  --dsa-link--text-decoration: none;
  --dsa-link--text-decoration_hover: underline;

  --dsa-gradient--higlight: linear-gradient(135deg, var(--ks-color-primary) 0%, var(--ks-color-primary) 100%);
}
