@use "./dictionary/scss/border-token.scss";
// @use "./dictionary/scss/color-token.scss";
@use "./dictionary/scss/font-size-token.scss";
// @use "./dictionary/scss/font-token.scss";
@use "./dictionary/scss/scaling-token.scss";
@use "./dictionary/scss/shadow-token.scss";
@use "./dictionary/scss/spacing-token.scss";
