@font-face {
  font-family: "TitilliumWeb";
  font-weight: 300;
  src: url("./TitilliumWeb-Light.woff") format("woff");
}
@font-face {
  font-family: "TitilliumWeb";
  font-weight: 300;
  src: url("./TitilliumWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "TitilliumWeb";
  font-weight: 400;
  src: url("./TitilliumWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: "TitilliumWeb";
  font-weight: 400;
  src: url("./TitilliumWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "TitilliumWeb";
  font-weight: 500;
  src: url("./TitilliumWeb-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "TitilliumWeb";
  font-weight: 500;
  src: url("./TitilliumWeb-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "TitilliumWeb";
  font-weight: 700;
  src: url("./TitilliumWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: "TitilliumWeb";
  font-weight: 700;
  src: url("./TitilliumWeb-Bold.woff2") format("woff2");
}
