:root {
  .dsa-nav-flyout {
    --dsa-nav-flyout--shadow: 20px 0px 30px var(--ks-color-fg-alpha-5-base);
    --dsa-nav-flyout--background: var(--ks-background-color-default);

    --dsa-nav-flyout__label_dimmed--opacity: 0.85;
    --dsa-nav-flyout__label--font: var(--ks-font-copy-l);

    --dsa-nav-flyout__label--color: var(--ks-text-color-primary);
    --dsa-nav-flyout__label--color_hover: var(--ks-text-color-primary);
    --dsa-nav-flyout__label--color_active: var(--ks-text-color-primary);

    --dsa-nav-flyout__sublist__label--color: var(--ks-text-color-primary);
    --dsa-nav-flyout__sublist__label--color_hover: var(--ks-text-color-primary);
    --dsa-nav-flyout__sublist__label--color_active: var(--ks-text-color-primary);

    --dsa-nav-flyout__sublist__label--font: var(--ks-font-copy-m);

    :has(.dsa-nav-flyout__item--active) {
      .dsa-nav-flyout__item:not(:hover, .dsa-nav-flyout__item--active) {
        .dsa-nav-flyout__label {
          opacity: var(--dsa-nav-flyout__label_dimmed--opacity);
        }

        .dsa-header--floating & {
          opacity: var(--dsa-nav-flyout_floating__label_dimmed--opacity);
        }
      }
    }
  }
}
