.dsa-section {
  --dsa-section_accent-transition--background-image: linear-gradient(
    178deg,
    transparent 0%,
    transparent 83%,
    var(--ks-background-color-accent) 83%,
    var(--ks-background-color-accent) 100%
  );

  --dsa-section_bold-transition--background-image: linear-gradient(
    178deg,
    transparent 0%,
    transparent 83%,
    var(--ks-background-color-bold) 83%,
    var(--ks-background-color-bold) 100%
  );

  --dsa-section_stagelights--background-image: radial-gradient(
      20vw 20vw at 100% 0%,
      var(--ks-color-secondary) 100%,
      transparent 100%
    ),
    radial-gradient(20vw 20vw at 0% 0%, var(--ks-color-secondary) 100%, transparent 100%);

  --dsa-section_anchor-glow--background-image: radial-gradient(
    600px 600px at 50% calc(100% + 520px),
    var(--ks-color-secondary) 100%,
    transparent 100%
  );

  @media (min-width: 48rem) {
    --dsa-section_anchor-glow--background-image: radial-gradient(
      100vw 100vw at 50% calc(100% + 94vw),
      var(--ks-color-secondary) 100%,
      transparent 100%
    );
  }

  --dsa-section_horizontal-gradient--background-image: linear-gradient(
    90deg,
    var(--ks-color-bg),
    var(--ks-color-bg-to-fg-2)
  );

  --dsa-section_vertical-gradient--background-image: linear-gradient(
    -10deg,
    var(--ks-color-secondary) 0%,
    var(--ks-color-secondary) 15%,
    transparent 15%,
    transparent 85%,
    var(--ks-color-secondary) 85%,
    var(--ks-color-secondary) 100%
  );

  --dsa-section_symmetric-glow--background-image: radial-gradient(
      20vw 20vw at 0% 10%,
      var(--ks-color-secondary) 100%,
      transparent 100%
    ),
    radial-gradient(20vw 20vw at 100% 90%, var(--ks-color-secondary) 100%, transparent 100%);

  --dsa-section__spotlight--blur: 100%;
  --dsa-section__spotlight--size: 200px;
  --dsa-section__spotlight--color: var(--ks-color-secondary);
}
