@use "./section-tokens.scss";

.dsa-section {
  .l-section__content.l-section__content--slider {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .l-section__slider-nav {
    gap: var(--ks-spacing-inline-s);
  }
}
