:root {
  .l-section.dsa-section {
    --dsa-section_horizontal-gradient--background-image: linear-gradient(
      81.65deg,
      #e3dec2 7.45%,
      #96b196 46.35%,
      #d6daa8 81.21%,
      #c2cfb6 98.99%
    );

    &[ks-inverted="true"] {
      --dsa-section_horizontal-gradient--background-image: linear-gradient(
        82deg,
        #2d4d42 7.45%,
        #0c320c 46.35%,
        #3a614c 86.64%,
        #2d4d42 98.99%
      );
    }
    --dsa-section_symmetric-glow--background-image: radial-gradient(
        20% 50% at 100% 50%,
        var(--ks-color-primary-alpha-5) 0%,
        transparent 100%
      ),
      radial-gradient(20% 50% at 0% 50%, var(--ks-color-primary-alpha-5) 0%, transparent 100%);
  }
}
