:root {
  .dsa-teaser-card {
    --dsa-teaser-card--border-width: 0;
    --dsa-teaser-card--border-color: transparent;

    .l-section--accent &,
    .l-section--bold & {
      --dsa-teaser-card--background: var(--ks-background-color-default);
    }

    @media (min-width: 48em) {
      //Scaling for Desktop Breakpoint SmallTiles
      --dsa-teaser-card--padding: var(--ks-spacing-inset-m);
    }

    --dsa-teaser-card__label--background-color: var(--ks-color-primary-to-bg-7);
    --dsa-teaser-card__label--color: var(--ks-text-color-primary);
  }
}
