@use "./teaser-card-tokens.scss";
:root {
  .c-teaser.dsa-teaser-card {
    transition-property: border-color, background-color, box-shadow, transform;

    &:hover {
      --c-teaser--border: var(--dsa-teaser-card--border-color_hover, var(--ks-background-color-card-interactive))
        var(--dsa-teaser-card--border-width) solid;
      transform: translateY(-0.5em);
    }
    .c-button.c-button--clear.dsa-button {
      --dsa-button_secondary--color: var(--dsa-button_primary--color);
      --dsa-button_secondary--color_hover: var(--dsa-button_primary--color_hover);
      --dsa-button_secondary--color_active: var(--dsa-button_primary--color_active);

      --dsa-button_secondary--background-color: var(--dsa-button_primary--background-color);
      --dsa-button_secondary--background-color_hover: var(--dsa-button_primary--background-color_hover);
      --dsa-button_secondary--background-color_active: var(--dsa-button_primary--background-color_active);
    }
  }
}
