:root {
  .dsa-teaser-card {
    --dsa-teaser-card--border-width: 0;
    --dsa-teaser-card--border-color: transparent;

    @media (min-width: 48em) {
      //Scaling for Desktop Breakpoint SmallTiles
      --dsa-teaser-card--padding: var(--ks-spacing-inset-m);
    }

    --dsa-teaser-card__label--border: var(--ks-border-width-default) solid var(--ks-color-primary-to-bg-7);
    --dsa-teaser-card__label--border-radius: var(--ks-border-radius-control);
    --dsa-teaser-card__label--background-color: var(--ks-background-color-default);
    --dsa-teaser-card__label--background-color: var(--ks-color-primary-to-bg-9);
    --dsa-teaser-card__label--padding: 0.35em 0.6em;
    --dsa-teaser-card__label--color: var(--ks-text-color-primary);
    --dsa-teaser-card__label--font-weight: var(--ks-font-weight-regular);
    --dsa-teaser-card__label--font: var(--ks-font-interface-s);
  }
}
