:root {
  .dsa-nav-flyout {
    --dsa-nav-flyout--shadow: 20px 0px 30px var(--ks-color-fg-alpha-7-base);
    --dsa-nav-flyout--background: var(--ks-color-fg-to-bg-9);
    --dsa-nav-flyout--gap: 0.35em;
  }
}
