@use "./nav-flyout-tokens.scss";

.dsa-nav-flyout {
  .dsa-nav-flyout__lang {
    display: flex;
    align-items: center;
    font: var(--ks-font-interface-l);
    padding: 0;

    &__item {
      &:first-child {
        .dsa-nav-flyout__lang__link {
          padding-right: 0.25em;
          border-right: 1px solid var(--ks-border-color-accent);
        }
      }
      &:last-child {
        .dsa-nav-flyout__lang__link {
          padding-left: 0.25em;
        }
      }
    }

    .dsa-nav-flyout__lang__link {
      color: var(--ks-text-color-interface-interactive);
      font-weight: var(--ks-font-weight-regular);

      &--active {
        color: var(--ks-text-color-interface-interactive-active);
        font-weight: var(--ks-font-weight-bold);
      }
    }
  }
}
