:root {
  .dsa-nav-topbar {
    --dsa-nav-topbar__label--font-weight_active: var(--ks-font-weight-regular);
    --dsa-nav-topbar__label--font-weight: var(--ks-font-weight-regular);

    .dsa-nav-topbar__item--active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: calc(100% - calc(0.75em * 2));
        left: 0.75em;
        height: 2px;
        bottom: 10px;
        background-color: var(--dsa-nav-topbar__label--color);
      }
    }

    .dsa-nav-topbar__label {
      text-transform: uppercase;
    }
  }
}
