.dsa-nav-topbar {
  --dsa-nav-topbar__label--color: var(--ks-text-color-interface-interactive);
  --dsa-nav-topbar__label--font-weight: var(--ks-font-weight-medium);
  --dsa-nav-topbar__label--padding: 0.5em 1em;
  --dsa-nav-topbar__label_dimmed--opacity: 1;
}
